.btn {
  text-align: left;
  text-align: left;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.dropdown-toggle::after {
  margin-left: auto;
}
.dropdown-menu.show {
  width: 100%;
  overflow: auto;
  max-height: 12rem;
}
*::-webkit-scrollbar {
  background-color: white !important;
}
